@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    bottom: -30px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.invoice-wrap {
  display: flex;
}
.invoice-body {
  background: #fff;
  width: 70%;
  padding: 50px 30px;
  margin: 50px 0;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 30px 0px;
}
.invoice-sidebar {
  width: 30%;
}
.add-logo {
  width: 200px;
  overflow: hidden;
  position: relative;
}
.logo-placeholder {
  width: 100%;
  height: 130px;
  line-height: 130px;
  background: #f5f5f5;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  cursor: pointer;
}
.add-logo img {
  border-radius: 5px;
  max-width: 200px;
  max-height: 140px;
}
.add-logo input[type="file"] {
  cursor: pointer !important;
  width: 100%;
  height: 20px;
  left: 0;
  opacity: 0;
  position: absolute;
  padding: 0;
  line-height: 100%;
  height: 130px;
  top: 0;
}
.invoice-details,
.item-table {
  padding-bottom: 20px;
}
.contact-from {
  margin: 10px 0;
}
.invoice-details-info {
  width: 50%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.item-table table {
  text-align: center;
}
.lineItems td {
  text-align: left;
}
#total-section,
#total-section table {
  text-align: right;
}
.item-table table thead {
  background: #333;
  color: #fff;
}
.item-table th {
  padding: 10px;
  text-align: left;
}
#title {
  font-size: 40px;
  height: auto;
}
.row-item {
  animation: fadeInAnimation ease 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
  text-align: left;
}
.row-item td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.row-item input[type='text'],
.row-item input[type='number'],
.row-item textarea{
  padding: 8px;
  border: 2px solid transparent;
}
.row-item input[type='text']:hover,
.row-item input[type='number']:hover,
.row-item textarea:hover{
  border: 2px dashed #eee;
}
.subtotal-table {
  margin-top: 10px;
}
.dele-icon.dele-icon.dele-icon {
  font-size: 14px;
  text-align: center;
}
.tax_percent{
  position: relative;
  padding-right: 30px;
  display: inline-block;
}
.tax_percent:after{
    position: absolute;
    right: 5px;
    top: 1px;
    content: "%";
    pointer-events: none;
    opacity: 0.6;
}