<div class="invoice-wrap row">
  <!--.invoice-body START-->
  <main class="invoice-body col col-8">
    <form [formGroup]="invoiceInfoForm" class="needs-validation">
      <div class="invoice-details row">
        <div class="invoice-details-contact col col-6">
          <div class="add-logo">
            <label
              *ngIf="!companyLogoPath"
              class="logo-placeholder"
              for="add-logo"
            >
              Add Your Logo
            </label>
            <img *ngIf="!!companyLogoPath" src="{{ companyLogoPath }}" />
            <input
              (change)="uploadLogo($event)"
              id="add-logo"
              type="file"
              accept="image/*"
            />
          </div>
          <div class="contact-from">
            <input
            #address1
              type="text"
              id="address1"
              class="adr bld f20"
              placeholder="Your Company"
            />

            <input
            #custName
              type="text"
              id="custName"
              class="adr"
              placeholder="Your Name"
            />

            <input
            #address2
              type="text"
              id="address2"
              class="adr"
              placeholder="Company’s Address"
            />

            <input
            #address3
              type="text"
              class="adr"
              id="address3"
              placeholder="City, State Zip"
            />

            <input
            #companyCountry
              type="text"
              class="adr"
              id="companyCountry"
              placeholder="Country"
              name="company_country"
              data-json-node="company_country"
              data-is-array="false"
              onfocus="InvoiceGenerator.showStateSelect('companyCountry')"
            />
            <br />
          </div>
          <!--.contact-from END-->
          <div class="bill-to">
            <input
            #billToLabel
              type="text"
              value="Bill To:"
              id="billToLabel"
              class="adr bill-to bld"
            />
            <input
            #billingAddress1
              type="text"
              id="billingAddress1"
              class="adr"
              placeholder="Your Client’s Company"
            />

            <input
            #billingAddress2
              type="text"
              id="billingAddress2"
              class="adr"
              placeholder="Client’s Address"
            />

            <input
            #billingAddress3
              type="text"
              class="adr"
              id="billingAddress3"
              placeholder="City, State Zip"
            />

            <input
            #customerCountry
              type="text"
              class="adr"
              id="customerCountry"
              placeholder="Country"
              name="customer_billing_country"
            />
          </div>
          <!--.bill-to END-->
        </div>
        <!--.invoice-details-contact END-->
        <div class="invoice-details-info col col-6">
          <div class="vtop comp-addr-invoice added-placeholder">
            <input
            #title
              class="c-name"
              type="text"
              value="INVOICE"
              id="title"
              name="title"
            />
          </div>
          <table class="bill" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td class="lft-txt added-placeholder" width="40%">
                  <input
                  #invNumberLabel
                    type="text"
                    value="Invoice#"
                    id="invNumberLabel"
                    class="bld text-left w100"
                    name="invoice_number_label"
                  />
                </td>
                <td>
                  <input
                  #invNumber
                    type="text"
                    class="w100"
                    id="invNumber"
                    placeholder="INV-12"
                    name="invoice_number"
                  />
                </td>
              </tr>
              <tr>
                <td class="lft-txt">
                  <input
                  #invoiceDateLabel
                    type="text"
                    value="Invoice Date"
                    id="invoiceDateLabel"
                    class="bld text-left w100"
                    name="invoice_date_label"
                  />
                </td>
                <td>
                  <np-datepicker [(ngModel)]="invoiceDate" [ngModelOptions]="{standalone: true}" theme="light"></np-datepicker>
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td class="lft-txt">
                  <input
                  #dueDateLabel
                    value="Due Date"
                    id="dueDateLabel"
                    class="bld text-left w100"
                    type="text"
                    name="due_date_label"
                  />
                </td>
                <td>
                  <np-datepicker [(ngModel)]="dueDate" [ngModelOptions]="{standalone: true}"  theme="light"></np-datepicker>
                </td>
              </tr>
              <tr>
                <td class="lft-txt">
                  <input
                  #poNumberLabel
                    value="PO Number"
                    id="poNumberLabel"
                    class="bld text-left w100"
                    type="text"
                    name="due_date_label"
                  />
                </td>
                <td>
                  <input
                  #poNumber
                    id="poNumber"
                    type="text"
                    placeholder="00"
                    name=" po_number"
                  />
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <!--.invoice-details-info END-->
      </div>
      <!--.invoice-details END-->
      <div class="item-table">
        <table class="column" width="100%" cellspacing="0" cellpadding="0">
          <thead>
            <tr class="hd">
              <th class="added-placeholder" width="45%">
                <input
                  type="text"
                  #itemDescLabel
                  id="itemDescLabel"
                  value="Item Description"
                  class="bld"
                  name="name"
                />
              </th>
              <th width="10%">
                <input
                #itemQtyLabel
                  type="text"
                  class="bld"
                  value="Qty"
                  id="itemQtyLabel"
                  name="quantity"
                />
              </th>
              <th width="15%">
                <input
                #itemRateLabel
                  type="text"
                  class="bld"
                  value="Rate"
                  id="itemRateLabel"
                  name="rate"
                />
              </th>
              <th width="20%">
                <input
                #itemAmtLabel
                  type="text"
                  value="Amount"
                  id="itemAmtLabel"
                  name="amount"
                />
              </th>
              <th class="dele-icon" width="10%">Action</th>
            </tr>
          </thead>

          <tbody class="row-item">
            <ng-container formArrayName="items">
              <ng-container
                *ngFor="let itemForm of items.controls; let i = index"
              >
                <tr [formGroupName]="i">
                  <td>
                    <textarea
                      type="text"
                      class="w100"
                      formControlName="itemDescription"
                      placeholder="Enter item name/description"
                      data-gramm_editor="false"
                    ></textarea>
                  </td>
                  <td>
                    <input
                      #qty{{i}}
                      formControlName="qty"
                      type="number"
                      class="w100"
                      (change)="updateAmount(i)"
                    />
                  </td>
                  <td>
                    <input
                      #rate{{i}}
                      formControlName="rate"
                      type="text"
                      class="w100"
                      (change)="updateAmount(i)"
                    />
                  </td>
                  <td>
                    <input
                      formControlName="amount"
                      type="text"
                      readonly=""
                      title="Amount is calculated automatically."
                      class="readonly"
                    />
                  </td>
                  <td class="dele-icon">
                    <div>
                      <a
                        class="closeicon hide"
                        (click)="deleteLineItem(i)"
                        title="Delete Row"
                        ><span class="material-icons">cancel</span></a
                      >
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>

          <tbody>
            <tr>
              <td id="add-new-item">
                <div>
                  <a
                    (click)="addLineItem()"
                    class="icon_button"
                    title="Add Row"
                  >
                    <span class="circle">
                      <span class="material-icons">add</span>
                    </span>
                    <span class="text">Add Item</span>
                  </a>
                </div>
              </td>
              <td id="total-section" colspan="4">
                <table
                  class="subtotal-table"
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tbody>
                    <tr class="sav-amo">
                      <td class="bdr-non" width="40%">
                        <input
                        #subTotalLabel
                          type="text"
                          value="Sub Total"
                          class="total-label"
                          id="subTotalLabel"
                          name="sub_total_label"
                        />
                      </td>
                      <td class="bdr-non">
                        <input
         
                          type="text"
                            name="subTotal"
                            id="subTotal"
                            class="percent_input readonly"
                            readonly=""
                            [(ngModel)]="subTotal"
                            [ngModelOptions]="{standalone: true}"
                          />
                      </td>
                    </tr>

                    <tr class="text-right">
                      <td width="40%">
                        <input
                        #discountLabel
                          type="text"
                          value="Discount"
                          class="tax-label"
                          id="discountLabel"
                          name="tax_name"
                        />
                      </td>
                      <td>
                        <div class="tax_percent">
                          <input
                          (change)="calcTotal()"
                            type="text"
                            name="discount_percent_input"
                            class="percent_input "
                            [(ngModel)]="discount"
                            [ngModelOptions]="{standalone: true}"
                          />
                        </div>
                      </td>
                    </tr>


                    <tr class="text-right">
                      <td width="40%">
                        <input
                        #taxLabel
                          type="text"
                          value="Sales Tax"
                          class="tax-label"
                          id="taxLabel"
                          name="tax_name"
                        />
                      </td>
                      <td>
                        <div class="tax_percent">
                          <input
                          (change)="calcTotal()"
                            type="text"
                            name="tax_percent_input"
                            class="percent_input"
                            [(ngModel)]="salesTax"
                            [ngModelOptions]="{standalone: true}"
                          />
                        </div>
                      </td>
                    </tr>
                    <tr class="tot">
                      <td width="40%">
                        <input
                        #totalLabel
                          type="text"
                          value="TOTAL"
                          class="total-label"
                          id="totalLabel"
                          name="total_label"
                        />
                      </td>
                      <td>
                        <input
                       
                        type="text"
                        readonly=""
                          name="total"
                          id="total"
                          class="percent_input readonly"
                          [(ngModel)]="total"
                          [ngModelOptions]="{standalone: true}"
                        />
                       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--.item-table END-->
      <div class="invoice-footer">
        <div class="added-placeholder">
          <input
          #notesLabel
            type="text"
            class="terms bld"
            value="Notes"
            id="notesLabel"
            name="notes_label"
          />
        </div>
        <div>
          <textarea
          #customerNotes
            class="note"
            id="customerNotes"
            name="notes"
            placeholder="It was great doing business with you."
          ></textarea>
        </div>

        <div class="terms-holder">
          <div class="field">
            <input
            #termsLabel
              type="text"
              id="termsLabel"
              class="input-label bld"
              value="Terms & Conditions"
              name="terms_and_conditions_label"
            />
          </div>
          <div class="value">
            <div class="expandingText">
              <textarea
              #terms
                class="terms"
                placeholder="Terms and conditions - late fees, payment methods, delivery schedule"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <!--.invoice-footer END-->
    </form>
  </main>
  <!--.invoice-body END-->

  <!--.invoice-sidebar START-->
  <aside class="invoice-sidebar col col-4">
    <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
  </aside>
  <!--.invoice-sidebar END-->
</div>
<!--invoice-->


<div class="invoice-wrap row">
  <!--.invoice-body START-->
  <main #pdfTable class="invoice-body col col-8">
      <div class="invoice-details row">
        <div class="invoice-details-contact col col-6">
          <div class="add-logo">
            <img *ngIf="!!companyLogoPath" src="{{ companyLogoPath }}" />
          </div>
          <div class="contact-from">
            <div class="adr bld f20">
              {{address1?.value}}
            </div>
            <div class="adr">
              {{custName?.value}}
            </div>
            <div class="adr">
              {{address2?.value}}
            </div>
            <div class="adr">
              {{address3?.value}}
            </div>
            <div class="adr">
              {{companyCountry?.value}}
            </div>

            <br />
          </div>
          <!--.contact-from END-->
          <div class="bill-to">
            <div class="adr bill-to bld">
              {{billToLabel?.value}}
            </div>
            <div class="adr">
              {{billingAddress1?.value}}
            </div>
            <div class="adr">
              {{billingAddress2?.value}}
            </div>
            <div class="adr">
              {{billingAddress3?.value}}
            </div>
            <div class="adr">
              {{billingAddress3?.value}}
            </div>
            <div class="adr">
              {{customerCountry?.value}}
            </div>
            
          </div>
          <!--.bill-to END-->
        </div>
        <!--.invoice-details-contact END-->
        <div class="invoice-details-info col col-6">
          <div class="vtop comp-addr-invoice added-placeholder">
            <div id="title" class="c-name">{{title.value}}</div>
          </div>
          <table class="bill" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td class="lft-txt added-placeholder" width="40%">
                  <div class="bld text-left w100">
                    {{invNumberLabel?.value}}
                  </div>
                 
                </td>
                <td>
                  <div class="w100">
                    {{invNumber.value}}
                  </div>
                 
                </td>
              </tr>
              <tr>
                <td class="lft-txt">
                  <div class="bld text-left w100">
                    {{invoiceDateLabel.value}}
                  </div>
                  
                </td>
                <td>
                  <div> {{ invoiceDate?.year }} - {{ invoiceDate?.month }} - {{ invoiceDate?.day }}</div>


                 
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td class="lft-txt">
                  <div class="bld text-left w100">
                    {{dueDateLabel.value}} 
                  </div>
               
                </td>
                <td>
                  <div>
                    {{dueDate?.year}} - {{ dueDate?.month }} - {{ dueDate?.day }}
                  </div>
                 
                </td>
              </tr>
              <tr>
                <td class="lft-txt">
                  <div class="bld text-left w100">
                    {{poNumberLabel.value}}
                  </div>
                  
                </td>
                <td>
                  {{poNumber?.value}}
                
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <!--.invoice-details-info END-->
      </div>
      <!--.invoice-details END-->
      <div class="item-table">
        <table class="column" width="100%" cellspacing="0" cellpadding="0">
          <thead>
            <tr class="hd">
              <th class="added-placeholder" width="55%">
                <div class="bld">
                  {{itemDescLabel.value}}
                </div>
                
              </th>
              <th width="10%">
                <div class="bld">
                  {{itemQtyLabel.value}}
                </div>
              
              </th>
              <th width="15%">
                <div class="bld">
                  {{itemRateLabel.value}}
                </div>
               
              </th>
              <th width="20%">
                <div>
                  {{itemAmtLabel.value}}
                </div>
                
              </th>
             
            </tr>
          </thead>
          <tr *ngFor="let itemForm of items.controls; let i = index">
            <td>
              {{itemForm?.value.itemDescription}}
            </td>
            <td>
              {{itemForm?.value.qty}}
            </td>
            <td>
              {{itemForm?.value.rate}}
            </td>
            <td>
              {{itemForm?.value.amount}}
            </td>
          </tr >
          

          <tbody>
            <tr>
              <td id="add-new-item">
               
              </td>
              <td id="total-section" colspan="4">
                <table
                  class="subtotal-table"
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tbody>
                    <tr class="sav-amo">
                      <td class="bdr-non" width="40%">
                        <div class="total-label">
                          {{subTotalLabel.value}}
                        </div>
                      
                      </td>
                      <td class="bdr-non">
                        <div class="percent_input readonly">
                          {{subTotal}}
                        </div>
                        
                      </td>
                    </tr>

                    <tr class="text-right">
                      <td width="40%">
                        <div class="tax-label">
                          {{discountLabel.value}}
                        </div>
                        
                      </td>
                      <td>
                        <div class="tax_percent">
                          <div class="percent_input ">
                            {{discount}}
                          </div>
                         
                        </div>
                      </td>
                    </tr>


                    <tr class="text-right">
                      <td width="40%">
                        <div class="tax-label">
                          {{taxLabel.value}}
                        </div>
                       
                      </td>
                      <td>
                        <div class="tax_percent">
                          {{salesTax}}
                         
                        </div>
                      </td>
                    </tr>
                    <tr class="tot">
                      <td width="40%">
                        <div class="total-label">
                          {{totalLabel.value}}
                        </div>
                
                      </td>
                      <td>
                        <div class="percent_input readonly">{{total}}</div>
                   
                       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--.item-table END-->
      <div class="invoice-footer">
        <div class="added-placeholder">

          <div class="terms bld">
            {{notesLabel.value}}
          </div>
          
        </div>
        <div>
          <div class="note">
            {{customerNotes.value}}
          </div>
        
        </div>

        <div class="terms-holder">
          <div class="field">
            <div class="input-label bld">
              {{termsLabel.value}}
            </div>
            
          </div>
          <div class="value">
            <div class="expandingText">
              <div class="terms">
                {{terms.value}}
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!--.invoice-footer END-->
  
  </main>
  <!--.invoice-body END-->

</div>
<!--invoice-->
