/* You can add global styles to this file, and also import other style files */
@import "material-icons/iconfont/material-icons.css";

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
a {
  cursor: pointer;
}
/*************************************
Generic Styles
*************************************/
.text-right {
  text-align: right;
}
.bld.bld {
  font-weight: bold;
}
table {
  table-layout: fixed;
}
table td {
  vertical-align: top;
}
/*************************************
Grid Styles
*************************************/
.row {
  display: flex;
}
.col-6 {
  width: 50%;
  padding: 0 10px;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-4 {
  max-width: 33.333333%;
  padding: 0 10px;
  flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
}
/*************************************
Form Styles
*************************************/
input.small{
  width: 50px;
}
input[type="text"],
input[type="number"] {
  background: transparent;
  box-shadow: inherit;
  padding: 2px 5px;
  border: 2px solid transparent;
  max-width: 100%;
  text-align: inherit;
  color: inherit;
  font-weight: inherit;
}
textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: horizontal;
  height: 46px;
  border: 1px dotted #fff;
  margin-bottom: 2px;
  font-family: inherit;
  width: 100%;
  resize: vertical;
  font-size: 14px;
}
input[type="text"]:hover,
input[type="number"]:hover,
textarea:hover {
  border: 2px dashed #ccc;
}
input[read-only]:hover,
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  border: 2px solid rgb(255, 187, 1);
  outline: none;
}
input.readonly:hover,
input.readonly:focus{
  border: none !important;
}
.nepali-date-picker.nepali-date-picker .form-icon svg{
  top: 4px;
}
.nepali-date-picker .np_datepicker_input{
  font-size: 14px;
  color: #777;
}
.percent_input{
  width: 100px
}
/*************************************
Icon Button Styles
*************************************/

.item-table .icon_button {
  padding-left: 3rem;
  position: relative;
  padding-right: 1rem;
  float: left;
  margin-top: 10px;
}
.icon_button .circle {
  transition: all 0.2s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  display: inline-block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 1.625rem;
  color: #fff;
  left: 0;
  top: 0;
}
.icon_button span {
  display: inline-block;
  line-height: 3rem;
}
.icon_button span.text {
  margin-left: 5px;
  position: relative;
  z-index: 10;
}

.icon_button:hover .circle {
  width: 100%;
}
.icon_button:hover span {
  color: #fff;
}
.icon_button:hover .circle .material-icons {
  left: 12px;
  float: left;
  position: relative;
}
